.main{
    padding: 0 8em;

    position: relative;
}


.title{
    color: var(--clr-primary);
    font-size: 3em;
    margin: 1em 0;
    text-align: center;
}


/* ------------------------- DIV DE INFO FRANQUISIA ---------------- */

.features__container{
    max-width: max-content;
    min-height: auto;
    padding: 1em 4em 9em;
    background-color: var(--clr-secondary);
    border-radius: 3em 3em 0 0;
    box-shadow: var(--box-shadow);
    margin-bottom: 9em;

}

.main :where(h2){
    font-size: 1.5em;
    color: var(--clr-primary);
    margin: 1em 0;
}

.features__container li{
    list-style: none;
    margin: 1em 0;
}

.features__container p {
    margin: 0 2.3em;
    font-weight: bold;
}


/* --------------------DIV DE LA RESERVA------------------- */

.rent__container{
    background-color: white;
    border-radius: 3em;
    box-shadow: var(--box-shadow);
    padding: 1em 4em 6em;
    z-index: 2;
    position: absolute;
    top: 40em;
    width: 81%;
}

.rent__container h4{
    color: var(--clr-primary);
}


.rent__container h2:last-child{
    font-weight: 800;
    font-size: 1.5em;
}



.rent__prices{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .6em 0;
} 

.rent__picker{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}


.rent__picker__date{
    height: 3rem;
    border-radius: var(--border-radius);
    padding: 0 1rem;
    font-size: 1rem;
    border: var(--border);
    -webkit-appearance: none;
    background-color: var(--clr-white);
    margin: 1em 0;
}

.rent__container small {
    font-size: .8em;
    display: flex;
} 

.rent__container button{
    background-color: white;
    color: gray;
    border: none;
    cursor: pointer;
    margin-left: 1.5em;
}

.rent__container button:hover{
    color: var(--clr-primary);
    background-color: var(--clr-gray);
    border-radius: 2em;
    padding: .5em 1em;
}






/* --------------------- DIV DE LAS CONDICIONES  ------------------------ */


.conditions__container{
    margin-top: 15em;
    margin-bottom: 3em;
    background-color: var(--clr-secondary);
    border-radius: 0 0 3em 3em;
    box-shadow: var(--box-shadow);
    padding: 15em 3em 1em;

  
}

.condition__terms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 0;
}

.conditions__container input[type="checkbox"]{
    width: 1.5em;
    height: 1.5em;
    margin-right: 1em;
    cursor: pointer;
}

.conditions__container li {
    margin: 1em 0;
}

.conditions__container a:is(:hover, :focus){
    color: var(--clr-primary);
}


.condition__terms button{
    background-color: var(--clr-primary);
    color: white;
    border: none;
    border-radius: .8em;
    padding: .8em 1em;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
    margin-top: 3em;
}

.condition__terms button:is(:hover, :focus){
    background-color: var(--clr-gray);
    color: black;
}



/* --------------------- MEDIA QUERIES ------------------------ */
