.title{
    color: var(--clr-primary);
    font-size: 3em;
    margin: 1em 0;
}

.form__container{
    width: 83%;
    padding: 3em 4em;
    border-radius: 3em;
    box-shadow: var(--box-shadow);
    background-color: #fff;
}

.form__container textarea{
    border: 1px solid #ccc;
    border-radius: 25px;
    resize: none;
    margin-bottom: 1em;
    padding-left: 1em;
    background-color: var(--clr-bkg-gray)
}


.form__container input{
    border: 1px solid #ccc;
    border-radius: 25px;
    padding-left: 1em;
    margin-bottom: 1em;
    background-color: var(--clr-bkg-gray)
}


.form__container select{
    width: 100%;
    height: 3rem;
    border-radius: var(--border-radius);
    padding: 0 1rem;
    font-size: 1rem;
    border: var(--border);
    -webkit-appearance: none;
}



.form__container :nth-child(5){
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.form__container div:has(label) label{
    display: flex;
    flex-direction: column;
    margin: .5em 0 .5em 1em;
}

.form__container div:has(input) input{
    width: 100%;
    height: 2em;
    margin: .5em 0;

} 

.form__container div:has(textarea) textarea{
    width: 100%;
    min-height: 10em;
    resize: vertical;
    background-color: var(--clr-bkg-gray)
}

.form__container:has(:valid) > label{
    color: green;
}

/* ----------DIV USER ------------ */

/* .user__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
} */


/* ----------DIV TERMS ------------ */

.terms__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em 0;
}

.form__container div:has([type="checkbox"]) label{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.terms__container input[type="checkbox"]{
    width: 1.5em;
    height: 1.5em;
    margin-right: 1em;
    cursor: pointer;
}

.terms__container button{
    background-color: var(--clr-primary);
    color: white;
    border: none;
    border-radius: .8em;
    padding: .8em 2em;
    font-size: 1.2em;
    font-weight: 600;
    cursor: pointer;
    margin-top: 1em;
} 

.terms__container button:is(:hover, :focus){
    background-color: var(--clr-gray);
    color: black;
}
