/* .section__container{
   background-color: gray;
} */


.booking__all_container{
    width: 95%;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: 2em;
    padding:  2em 4em;
    z-index: 1;
    position: relative;
    background-color: white;
    top: -5em;
}

/* ------------------ HEARDER IMG ------------------ */

.header__img{
    display: flex;
    justify-content: center;
}

.header__img img {
    border-radius: 0 0 3em 3em;
    box-shadow: var(--box-shadow);
    filter: brightness(105%);
}

.header__img h1 {
    color:var(--clr-primary);
    z-index: 2;
    position: absolute;
    width: 20%;
    top: 50%;
    left: 10%;
    font-size: 3em;
}

.section__container div:has(h2){
    background-color: var(--clr-medium-beige);
    color: var(--clr-primary);
    padding: 1em 4em;
    width: fit-content;
    border-radius: 1em 1em 0 0;
    position: absolute;
    right: 80%;
    top: 52rem;
    z-index: 1;
}

.booking__container{
    display: flex;
    flex-direction: column;
    gap : 1rem;
}

.booking__selects_container{
    display: flex;
    gap : 1.5rem;
    width: 95%;
}


.select{
    width: 100%;
    height: 3rem;
    border-radius: var(--border-radius);
    padding: 0 1rem;
    font-size: 1rem;
    border: var(--border);
    -webkit-appearance: none;
}

.search__btn{
    background-color: var(--clr-primary);
    color :white;
    padding: .2em 2em;
    border-radius: var(--border-radius);
    border: none;
}

.search__btn:is(:hover, :focus){
    background-color: var(--clr-gray);
    color:  #0D0D0D; 
}


.none{
    display: none;
}

@media(max-width : 726px){
    .booking__all_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .booking__container{
        display: flex;
        flex-direction: column;
        gap : 1rem;
    }
    .booking__selects_container{
        display: flex;
        flex-direction: column;
        gap : 1rem;
    }
    .search__btn{
        background-color: var(--clr-primary);
        color :white;
        padding: .2em 2em;
        border-radius: var(--border-radius);
        border: none;
    }
}