.booking__all_container{
    display: flex;
    align-items: center;
    margin: 3em; 
}

.booking__container{
    display: flex;
    flex-direction: column;
    gap : 1rem;
    
}

.booking__selects_container{
    display: flex;
    gap : 1.5rem;
    width: 95%;
}


.select{
    width: 100%;
    height: 3rem;
    border-radius: var(--border-radius);
    padding: 0 1rem;
    font-size: 1rem;
    border: var(--border);
    -webkit-appearance: none;
}

.search__btn{
    background-color: var(--color-red);
    color :white;
    padding: .2em 2em;
    border-radius: var(--border-radius);
    border: none;
}