.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../src-client/assets/trama.svg);
    background-size: 100%;
}


.general__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    max-width: 1200px;
    margin: 2em auto;
    padding: 1em;
}


.contact__title{
    font-size: 1.4rem;
    padding: 3em 0 0;
}


/* ----------- DIV INFO ----------- */

.info__container{
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    padding: clamp(1.5em, 4vw, 4em);
    display:flex;
    flex-direction: column;
    gap: 1em;
    background-color: var(--clr-secondary);
    border-radius: 3.5em 0  0 3.5em ;
}

.info__container div {
    margin-top: 2em;
}

.info__container:first-child a {
    display: flex;
    margin: 1em;
    gap: 1em;
}

/* .info__container a :is(:focus, :hover){
    color: var(--clr-primary);
} */


/* ----------- DIV FORM ----------- */

.form__container{
    display:flex;
    flex-direction: column;
    background-color: var(--clr-bkg-gray);
    padding: clamp(1.5em, 4vw, 4em);
    border-radius: 3em;
    box-shadow: var(--box-shadow);
   
}

.form__container label {
    margin: 0 0 .5em .8em;
}

.form__container input{
    border:  var(--border);
    border-radius: 25px;
    padding-left: 1em;
    margin-bottom: 1em;
}

.form__container textarea{
    border: var(--border);
    border-radius: 25px;
    resize: none;
    min-height: 12em;
    margin-bottom: 1em;
    padding-left: 1em;
}

.form__container button{
    padding: .3em 1.7em;
    margin-left: auto;
    border-radius: var(--border-radius);
    background-color: var(--clr-primary);
    color: var(--clr-bkg-gray);
    border: none;
}

/* .form__container button:is(:focus, :hover){
    background-color: var(--clr-gray);
    color:  var(--clr-black);
} */

.form__container button:active{
    background-color: var(--clr-gray);
    color:  var(--clr-black);
}

.form__container p {
    color: var(--clr-primary);
    margin-bottom: 1em;
}


@media (hover : hover) {
    .form__container button:is(:focus-visible, :hover, :active){
        background-color: var(--clr-gray);
        color:  var(--clr-black);
    }

    .info__container a:is(:focus-visible, :hover, :active){
        color: var(--clr-primary);
    }
}

@media (max-width: 768px) {
    .info__container{
        border-radius: 3.5em;
        /* padding:1.5em; */
    }

}