.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../src-client/assets/trama.svg);
    background-size: 100%;
}


.general__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    max-width: 1400px;
    margin: 1.5em auto;
    padding:  0 2em 4em 2em;
}


.contact__title{
    font-size: 2rem;
    font-weight: 800;
    padding: 2.5em 0 0;
}


/* ----------- DIV INFO ----------- */

.info__container{
    font-size: calc(1rem + .2vw);
    padding: 3em 4em 1em 4em;
    display:flex;
    flex-direction: column;
    gap: 1em;
    background-color: var(--clr-secondary);
    border-radius: 3em;
}

.info__container div {
    margin-top: 1.8em;
}

.info__container:first-child a {
    display: flex;
    margin: 1em 0;
    gap: 1em;
}

.info__container h2 {
    font-size: 1.3rem;
    font-weight: 700;
}

.info__container > p:first-of-type  {
    font-weight: 500;
    width: min(50ch, 100%);
}


/* ----------- DIV FORM ----------- */

.form__container{
    display:flex;
    flex-direction: column;
    background-color: var(--clr-bkg-gray);
    padding: 2em 4em 1em 3em;
    border-radius: 3em;
    box-shadow: 0 0 1em 1px rgba(0,0,0,.2);
}

.form__container label {
    display: flex;
    flex-direction: column;
}

.form__container label > span {
    margin: 0 0 .5em .8em;
    font-weight: 500;
}

.form__container input{
    border:  var(--border);
    border-radius: 25px;
    padding-left: 1em;
    margin-bottom: 1em;
}

.form__container textarea{
    border: var(--border);
    border-radius: var(--border-radius-textarea);
    resize: none;
    min-height: 10em;
    margin-bottom: 1em;
    padding-left: 1em;
}

.form__container button{
    padding: .3em 1.7em;
    margin-left: auto;
    border-radius: var(--border-radius);
    background-color: var(--clr-primary);
    color: var(--clr-bkg-gray);
    border: none;
}

/* .form__container button:is(:focus, :hover){
    background-color: var(--clr-gray);
    color:  var(--clr-black);
} */

.form__container button:active{
    background-color: var(--clr-gray);
    color:  var(--clr-black);
}

.form__container p {
    color: var(--clr-primary);
    margin-bottom: 1em;
}


@media (hover : hover) {
    .form__container button:is(:focus-visible, :hover, :active){
        background-color: var(--clr-gray);
        color:  var(--clr-black);
    }

    .info__container a:is(:focus-visible, :hover, :active){
        color: var(--clr-primary);
    }
}

@media (max-width: 950px) {
.general__container{
    display: flex;
    flex-direction: column;
}
.form__container{
    padding: 2em;
}

}

@media(max-width:480px){
    .general__container{
        padding: 0 1em 4em 1em;
    }

    .info__container{
        padding: 1.7em;
    }
    .form__container{
        padding: 2em 1em;
    }
    
}