.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../src-client/assets/trama.svg);
    background-size: 100%;
}


/* ------------- HEADER IMG ---------- */


.header{
    z-index: 1;
    position: relative;
}

.header img {
    object-fit: cover;
    object-position: 10%;
    border-radius: 0 0 3em 3em;
    filter: contrast(.7) brightness(1.3);
}

.header h1 {
    color: var(--clr-white);
    z-index: 2;
    position: absolute;
    top:37%;
    left: 8%;
    font-size: clamp(1.5rem, 3.5vw, 3rem);
}


.header select{
    border-radius: var(--border-radius);
    border: var(--border);
    padding: .5em 1.5em;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    cursor: pointer;
    outline: none;
}


/* --------------- CARD CARS ---------------- */

.fleet__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
    width: 100%;
    max-width: 1200px;
    padding: 2em;
}

.fleet__grid_card{
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    background-color: var(--clr-white);
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2em 3em 8em;
    background-color: var(--clr-secondary);
    margin: 2em;
    z-index: 1;
    position: relative;
}

.fleet__grid_card h2 {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 800;
    margin-bottom: .4em;
}

.fleet__grid_card span {
    font-weight: 700;
}

.fleet__grid_card div {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: .3em;
    margin: .5em 0;
}

/* .image__container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
} */

.card__image{
    z-index: 2;
    position: absolute;
    top:13em;
    left: 0;
}

/* ---------------- BRAND DIVS -------------- */


.brands__container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap : 2em;
    margin: 2em;
}


@media(max-width:1300px){
    .header {
      padding: 0 2em;
    }
}

@media(max-width: 768px){
    .header{
        padding: 0;
    }

    .header img{
        width: 100%;
        height: 100%;
    }

    .header h1{
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }

    .card__image{
        top: 11em;
    }
} 
