.fleet__grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(25%, auto));
    gap : 2em;
    margin: 1em;
}

.category__filter{
    margin-left: 59rem;
    margin-top: 3em;
    border-radius: var(--border-radius);
    border: var(--border);
    padding: .5em 1.5em;
  
}


.fleet__grid_card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2em;
}


.fleet__grid_unique {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

