
/* ------------- HEADER IMG ---------- */


.header{
     object-fit: cover;
     object-position: center;
     margin: 0;
    z-index: 1;
    position: relative;
}

.header img {
    border-radius: 0 0 3em 3em;
}

.header h1 {
    color: #fff;
    z-index: 2;
    position: absolute;
    top: 70%;
    left: 10%;
    font-size: 2em;
}


.header select{
    border-radius: var(--border-radius);
    border: var(--border);
    padding: .5em 1.5em;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    cursor: pointer;
    outline: none;
}


/* --------------- CARD CARS ---------------- */

.fleet__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
    width: 100%;
    padding: 2em;
}

.fleet__grid_card{
    width: fit-content;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2em 3em;
    background-color: var(--clr-secondary);
}

.fleet__grid_card h2 {
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: .8em;
}

.fleet__grid_card div {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: .3em;
    margin: .5em 0;
}


.fleet__grid_unique {
    display: flex;
    align-self: flex-start;
    margin: 2em;
}



/* ---------------- BRAND DIVS -------------- */


.brands__container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 2em;
    margin: 2em 0;
}
