.footer__container{
    background-color: var(--clr-primary);
    color : white;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    margin-bottom: 2em;
}

.footer__container a :is(:focus, :hover){
    color: var(--clr-gray);
}

.footer__first_row{
    display: flex;
    flex-wrap: wrap;
    gap: 5em;
}

.footer__first_row h2{
    margin-bottom: 1.4em;
}

.footer__first_row div > p,
.footer__first_row div > a {
    margin-bottom: .6em;
    opacity: .7;
}

.footer__first_row :first-child a{
    display: flex;
    margin: 1em;
    gap: 1em;
}


.footer__second_row{
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    gap: 2em;
    margin: auto;
}

.footer__second_row p{
    font-weight: 600;
}

.footer__second_row input{
    border: none;
    border-radius: var(--border-radius);
    padding: .5em 1.5em;
    width: fit-content;
}

.footer__second_row button{
    color: var(--clr-primary);
    background-color: beige;
    border: none;
    border-radius: var(--border-radius);
    padding: .5em 1.5em;
    width: fit-content;
}

.footer__second_row button:is(:focus,:hover){
    background-color: var(--clr-gray);
    color:  #0D0D0D; 
}




.footer__container > p {
    display: flex;
    justify-content: center;
    font-weight: 600;
}




@media(max-width: 55em){
    .footer__container{
        padding: 2em 2em 3em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;
    }

    .footer__container > * {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 80%;
    }

    /* .footer__second_row{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    } */


}