.nav__container{
    height: 10vh;
    padding: 1em;
    background-color: var(--color-red);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color:white; 
}


.nav__ul{
    display: flex;
    gap: 2em;
    list-style: none;
}

