 .nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow);
    background-color: var(--clr-white);
    padding: 1em;
 }


 .nav__container img {
    object-fit: contain;
    margin-left: clamp(.1em, 9vw, 12em);
 }

 .nav__container ul{
    display: flex;
    list-style: none;
 }

 .nav__container li{
   margin-right: 3em;
}

.nav__container li :is(:active, :hover, :focus) {
   color: var(--clr-primary);
}

.nav__container :is(a, select){
  font-weight: 600;
}

.nav__container select {
      border: none;
}





 @media(max-width: 768px){

    .nav__container img {
      margin-left: .1em;
    }
   
   .nav__container ul{
     display: flex;
     flex-direction: column;
     background-color: var(--clr-white);
     position: absolute;
     top: 2%;
    }
    
  }
  
  /* .nav {
    display: flex;
    align-items: center;
  } */
  .nav_toggle {
    display: none;
  }

 @media (max-width: 1175px) {
   .nav {
     position: fixed;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     z-index: 100;
   }


   .nav_toggle {
     display: block;
     padding: 0.5em;
     background: transparent;
     border: 0;
     cursor: pointer;
     position: absolute;
     right: 1.5em;
     top: 2em;
     z-index: 1000;
   }
 
   .nav_close {
     transform: translateX(100%);
   }
 
   .nav_open {
     transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
     transform: translateX(0%);
     position: fixed;
   }
 
   .nav_open .hamburger {
     transform: rotate(0.625turn);
   }
 
   .nav_open .hamburger::before {
     transform: rotate(90deg) translateX(-6px);
   }
 
   .nav_open .hamburger::after {
     opacity: 0;
   }
 
   .hamburger {
     margin-top: 1em;
     display: block;
     position: relative;
   }
 
   .hamburger,
   .hamburger::before,
   .hamburger::after {
     background: var(--clr-primary);
     width: 2em;
     height: 3px;
     border-radius: 1em;
     transition: transform 250ms ease-in-out;
   }
 
   .hamburger::before,
   .hamburger::after {
     content: "";
     position: absolute;
     left: 0;
     right: 0;
   }
 
   .hamburger::before {
     top: 6px;
   }
 
   .hamburger::after {
     bottom: 6px;
   }
 }
 
 
 @media (max-width: 780px) {
   .hamburger {
     margin-top: 0;
   }
 }