/* -------------- HEADER IMG ---------------- */


.header__img{
    object-fit: cover;
    object-position: center;
    margin: 0;
    z-index: 1;
    position: relative;
}

.header__img img {
    border-radius: 0 0 3em 3em;
}


.header__img h1 {
    color: #fff;
    z-index: 2;
    position: absolute;
    top: 60%;
    left: 10%;
    font-size: 2em;
}


/* -------------COVERS CONTAINER---------------- */

.covers__container {
    border-radius: 3em;
    box-shadow: var(--box-shadow);
    padding: 3em;
    margin: 5em 0;
    background-color: #fff;
}

.covers__container p {
    margin: 1em 0;
}


/* ------------------- 2 DIVS EXTRA & REQUEST --------- */

.services__container{
    display:grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 4em;
    margin-bottom: 7em;
}


.services__extra_container, 
.services__require_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3em;
    box-shadow: var(--box-shadow);
    padding: 3em;
    background-color: var(--clr-secondary);
}


.services__require_container{
    background-color: #fff;
}

.services__container h2{
    color: var(--clr-primary)
}

.services__container li {
    list-style: var(--clr-primary);
    margin: .7em 0;
}



/* ------------------- MEDIA QUERIES ------------------- */

@media (max-width: 768px) {
    .services__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3em 0;
    }
}


