

.services__container{
    display:grid;
    grid-template-columns: 1fr 2fr;
    gap: 2em
}

.covers__container {
    border-radius: 3em;
    box-shadow: var(--box-shadow);
    padding: 3em;
    margin: 3em 0;
}

.header__img{
    object-fit: cover;
    object-position: center;
    margin: 0;
    z-index: 1;
    position: relative;
}

.header__img img {
    border-radius: 0 0 3em 3em;
}



.header__img h1 {
    color: #fff;
    z-index: 2;
    position: absolute;
    top: 60%;
    left: 10%;
    font-size: 2em;
}

.services__extra_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3em;
    background-color: var(--clr-secondary);
    box-shadow: var(--box-shadow);
    padding: 3em;
}
.services__extra_container h2{
    color: var(--clr-primary)
}

.services__require_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3em;
    box-shadow: var(--box-shadow);
    padding: 3em;
}

.services__extra_container li, 
.services__require_container li{
    list-style: var(--clr-primary);
}

.services__require_container h2 {
    color: var(--clr-primary);
}


@media (max-width: 768px) {
    .services__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 3em 0;
    }
}